body {
  margin: 0px;
  padding: 0px;
}

.back {
  background-color: white;
}
/* .boy {
  margin-left: 30%;

  margin-right: 40%;
  text-align: center;
} */

.h6 {
  color: black;
}

.value {
  color: rgb(43, 39, 100);
}
.one {
  background-color: aliceblue;
}
.detail {
  background-color: #5c5470;
}
.rent-value{
  color: rgb(242, 10, 219);
}