

.boy {
  text-align: center;
  width: 100vw;
  background-color: #bab0fd;
  color: black;
}

.value {
  color: rgb(227, 227, 10);
}

.hostel-name {
  background-color: #e7eaf6;
  color: #315075;
}

.nav-main-cont {
  background-color: rgb(131, 213, 238);
}

.go-back {
  color: black;
}

.nav-main-cont:hover, .go-back:hover {
  background-color: #879ced;
  color:black;
}

.left-days{
  background-color: #e4e7ee;
  border-radius: 7px;
  padding: 5px;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  color: #09f030;
  background: radial-gradient(farthest-side, currentColor calc(100% - 6.7px),#0000 calc(100% - 5.6px) 0);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 14.6px),#000 calc(100% - 13.4px));
  border-radius: 50%;
  animation: spinner-sm4bhi 2s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  background: linear-gradient(currentColor 0 0) center,
         linear-gradient(currentColor 0 0) center;
  background-size: 100% 11.2px,11.2px 100%;
  background-repeat: no-repeat;
}

.spinner::after {
  transform: rotate(45deg);
}

@keyframes spinner-sm4bhi {
  100% {
     transform: rotate(1turn);
  }
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .chack {
    height: 240px ;
  }
}
@media only screen and (min-width: 769px) {
  /* For mobile phones: */
  .chack {
    height: 200px ;
  }
}


.roomid{
  background-color: #c0b4ca;
  color: black;
  border-radius: 3px;
  
}