

.boy {
  text-align: center;
  width: 100vw;
  background-color: #bab0fd;
  color: black;
}

.value {
  color: rgb(227, 227, 10);
}

.hostel-name {
  background-color: #e7eaf6;
  color: #315075;
}

.nav-main-cont {
  background-color: rgb(131, 213, 238);
}

.go-back {
  color: black;
}

.nav-main-cont:hover, .go-back:hover {
  background-color: #879ced;
  color:black;
}

.left-days{
  background-color: #9bb8f2;
  border-radius: 7px;
  padding: 5px;
}