

.boy {
  text-align: center;
  width: 100vw;
  background-color: #bab0fd;
  color: black;
}

.value {
  color: yellow;
}

.hostel-name {
  background-color: #e7eaf6;
  color: #385170;
}

.nav-main-cont {
  background-color: rgb(131, 213, 238);
}

.go-back {
  color: black;
}

.nav-main-cont:hover, .go-back:hover {
  background-color: #879ced;
  color:black;
}