.head {
  height: 100vh;
}


.wel-1 {
  /* background-color: #385170; */
  border-radius: 12px;
}

.test {
  letter-spacing: 1px;
  color: #e7eaf6;
}
.wel {
  color: #e7eaf6;
}

.FOR {
}

.slog {
  letter-spacing: 1px;
  color: #e7eaf6;

  border-radius: 15px;
}

.choice {
  color: #e7eaf6;
  letter-spacing: 1px;
}
.underline {
  text-decoration: underline;
}
.add-room {
  background-color: #edf7fa;
  border-radius: 5px;

}
.head-add{
  color: #385170;
}

