* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.easy {
  font-weight: 600;
}
.search-easy-2 {
  font-weight: 600;
  text-shadow: 0 2px 2px #dfdfdf, -2px 5px 1px #cbcbcb, -4px 8px 1px #979797,
    -6px 11px 1px #a2a2a2, -8px 14px 1px #aeaeae, -10px 17px 1px #b5b5b5,
    -12px 20px 1px #bebebe, -14px 23px 1px #cecece, -16px 26px 1px #dbdbdb,
    -18px 29px 1px #dfdfdf;
}

.Loading {
  height: 100vh;
  width: 100vw;
  background-color: rgb(232, 240, 246);
  cursor: default;
}

.logo-img {
  height: 60px;
  width: 60px;
}

.banner {
  background: linear-gradient(-45deg, #7887d1, #81c0f4);
  /* height: 40%; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.banner-2 {
  background: linear-gradient(-45deg, rgb(209, 209, 214), rgb(148, 148, 156));
  /* background-color: rgb(170, 170, 174); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.banner-3 {
  background: linear-gradient(-45deg, #7887d1, #81c0f4);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.footer {
  background-color: antiquewhite;
}
.logo-landing {
  height: 15%;
  position: sticky;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, #001c30, #164467);
  z-index: 5;
}
.welcome-hs {
  color: #f5f5f5;
  /* letter-spacing: 1.5px;
  font-weight: bold; */
  cursor: default;
  text-shadow: 0px 5px px rgba(251, 252, 252, 0.8);
}

.nobroker {
  background-color: #ede4ff;
  color: #071952;
}

.logo-img {
  object-fit: cover;
  /* height: 100px;
    width: 100px; */
}
.img-logo {
  width: 80%;
  height: 80%;
  margin-top: 3px;
  
}
.owner-lines {
  letter-spacing: 1.5px;
  line-height: 30px;
  font-weight: 600;
}

.explore-btn {
  background: linear-gradient(-45deg, rgb(3, 93, 28), rgb(19, 160, 21));
  color: aliceblue;
}
.register-btn {
  background: linear-gradient(-45deg, rgb(3, 93, 28), rgb(19, 160, 21));
  color: aliceblue;
}

.login-btn {
  background: linear-gradient(-45deg, rgb(41, 68, 188), rgb(16, 33, 78));
  letter-spacing: 2px;
  color: aliceblue;
}
.login-btn:hover {
  background: linear-gradient(-45deg, rgb(19, 36, 113), rgb(84, 108, 174));
  color: aliceblue;
}


.explore-btn:hover,
.register-btn:hover {
  background: linear-gradient(-45deg, rgb(40, 144, 70), rgb(12, 74, 13));
  color: aliceblue;
  animation-timing-function: ease-in-out;
}
