.operation {
  background-color: azure;
}

.input {
  background-color: rgb(83, 83, 199);
  width: 50%;
  border-radius: 7px;
}
.seat{
    width: 60%;
    background-color: aliceblue;
}
.chackbox {
  line-height: normal;
  width: 20px;
  height: 20px;
}

.btn {
  background-color: red;
}
.in-seat {
  width: 60%;
  height: 40px;
}
.seat-btn {
    border-radius: 10px;
}
