.operation {
  background-color: azure;
}

.input {
  background-color: rgb(3, 3, 113);
  width: 50%;
  
}
.seat{
    width: 60%;
    background-color: aliceblue;
}
.chackbox {
  line-height: normal;
  width: 20px;
  height: 20px;
}


.in-seat {
  width: 70px;
  height: 40px;
}
