.owner {
  height: 100vh;
}

.myroom {
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
 
}

.owner-nav {
    background-color: #22559c;
}

.help {
  background-color: #385170;
}

.admin {
  background-color: rgb(236, 48, 208);
  color: #e7eaf6;
}
