.owner{
    height: 100vh;
}

.myroom{
    color: black ;
    letter-spacing: 1px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
      0px -4px 10px rgba(255,255,255,0.3);

}

.owner-nav{
    background-color: rgb(28, 136, 231);
    
}

.add-rooms{

    background-color: aliceblue;
    
}

.help{
  background-color: aqua;
}

.admin{
    background-color: rgb(236, 48, 208);
}