.main-r {
  position: absolute;
  background-color: rgb(128, 14, 236);
  height: 80%;
  width: 80%;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 5%;
}
.cont-r {
  position: absolute;
  background-color: rgb(23, 233, 86);
  height: 80%;
  width: 80%;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 5%;
}
.form-r{
    background-color: antiquewhite;
    position: absolute;
    height: 40%;
    width: 40%;
    margin:40px;
    padding: 50px;
    border-radius: 50px;
    
}

.l-r{
    margin: 10px;
}
.h-r{
    display: inline;
}